---
# Source: control-plane/charts/dapr/charts/dapr_scheduler/templates/dapr_scheduler_poddisruptionbudget.yaml
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: dapr-scheduler-server-disruption-budget
  namespace: default
  labels:
    app: dapr-scheduler-server
    app.kubernetes.io/component: scheduler
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: control-plane
    app.kubernetes.io/part-of: dapr
    app.kubernetes.io/version: 1.16.3
spec:
  maxUnavailable: 25%
  selector:
    matchLabels:
      app: dapr-scheduler-server
      app.kubernetes.io/component: scheduler
      app.kubernetes.io/managed-by: Helm
      app.kubernetes.io/name: control-plane
      app.kubernetes.io/part-of: dapr
      app.kubernetes.io/version: 1.16.3
