---
# Source: control-plane/charts/dapr/charts/dapr_scheduler/templates/dapr_scheduler_statefulset.yaml
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: dapr-scheduler-server
  namespace: default
  labels:
    app: dapr-scheduler-server
    app.kubernetes.io/component: scheduler
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: control-plane
    app.kubernetes.io/part-of: dapr
    app.kubernetes.io/version: 1.16.3
spec:
  replicas: 3
  serviceName: dapr-scheduler-server
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: dapr-scheduler-server
  volumeClaimTemplates:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: dapr-scheduler-data-dir
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
  template:
    metadata:
      labels:
        app: dapr-scheduler-server
        app.kubernetes.io/component: scheduler
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: control-plane
        app.kubernetes.io/part-of: dapr
        app.kubernetes.io/version: 1.16.3
      annotations:
        dapr.io/control-plane: scheduler
        prometheus.io/scrape: "true"
        prometheus.io/port: "9090"
        prometheus.io/path: "/"
    spec:
      securityContext:
        fsGroup: 65532
      containers:
      - name: dapr-scheduler-server
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 3
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 3
          failureThreshold: 5
        image: "ghcr.io/dapr/scheduler:1.16.3"
        imagePullPolicy: IfNotPresent
        resources:
          {}
        volumeMounts:
          - name: dapr-scheduler-data-dir
            mountPath: /var/run/data/dapr-scheduler/
            readOnly: false
          - name: dapr-scheduler-writeable-identity
            mountPath: /tmp
          - name: dapr-trust-bundle
            mountPath: /var/run/secrets/dapr.io/tls
            readOnly: true
          - name: dapr-identity-token
            mountPath: /var/run/secrets/dapr.io/sentrytoken
        ports:
          - containerPort: 50006
          - containerPort: 2379
            name: etcd-client
          - containerPort: 2380
            name: etcd-peer
          - name: metrics
            containerPort: 9090
            protocol: TCP
        command:
        - "/scheduler"
        args:
        - "--listen-address=0.0.0.0"
        - "--id"
        - "$(SCHEDULER_ID)"
        - "--etcd-initial-cluster"
        - "dapr-scheduler-server-0=https://dapr-scheduler-server-0.dapr-scheduler-server.default.svc.cluster.local:2380,dapr-scheduler-server-1=https://dapr-scheduler-server-1.dapr-scheduler-server.default.svc.cluster.local:2380,dapr-scheduler-server-2=https://dapr-scheduler-server-2.dapr-scheduler-server.default.svc.cluster.local:2380"
        - "--etcd-embed=true"
        - "--log-level"
        - info
        - "--enable-metrics"
        - "--metrics-port"
        - "9090"
        - "--etcd-client-port"
        - "2379"
        - "--etcd-data-dir=/var/run/data/dapr-scheduler/default/$(SCHEDULER_ID)"
        - "--etcd-space-quota=9.2E"
        - "--etcd-compaction-mode=periodic"
        - "--etcd-compaction-retention=10m"
        - "--etcd-snapshot-count=10000"
        - "--etcd-max-snapshots=10"
        - "--etcd-max-wals=10"
        - "--etcd-backend-batch-limit=5000"
        - "--etcd-backend-batch-interval=50ms"
        - "--etcd-experimental-bootstrap-defrag-threshold-megabytes=100"
        - "--etcd-initial-election-tick-advance=false"
        - "--etcd-metrics=basic"
        - "--tls-enabled"
        - "--trust-domain=cluster.local"
        - "--trust-anchors-file=/var/run/secrets/dapr.io/tls/ca.crt"
        - "--sentry-address=dapr-sentry.default.svc.cluster.local:443"
        - "--mode=kubernetes"
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        env:
        - name: SCHEDULER_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      serviceAccountName: dapr-scheduler
      volumes:
      - name: dapr-scheduler-writeable-identity
        emptyDir: {}
      - name: dapr-trust-bundle
        configMap:
          name: dapr-trust-bundle
      - name: dapr-identity-token
        projected:
          sources:
          - serviceAccountToken:
              path: token
              expirationSeconds: 600
              audience: "spiffe://cluster.local/ns/default/dapr-sentry"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
             nodeSelectorTerms:
                - matchExpressions:
                  - key: kubernetes.io/os
                    operator: In
                    values:
                    - linux
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - dapr-scheduler-server
              topologyKey: topology.kubernetes.io/zone
